@font-face {
    font-family: 'JameelNooriNastaleeq';
    src: url("../fonts/Jameel%20Noori%20Nastaleeq.ttf") format('truetype');
    unicode-range: U+0600-07FF;
}

html {
    font-family: JameelNooriNastaleeq;
}

body {
    background-color: #3e496b;

    color: #dfba25;

    padding-left: 1.5em;
    padding-right: 1.5em;
}

div.columns {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
}

div.column {
    display: flex;
    flex-direction: column;
    width: 33vw;
}

div.left {
    justify-content: flex-end;
}

div.center {
    justify-content: center;
}

.column img {
    object-fit: contain;
}

a {
    color: #ffe600;
}

a.button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    font-size: 150%;
    color: #ffe600;
    background-color: #293047;
    text-align: center;
    transition: all 0.2s;
}

a.button:hover {
    background-color: #0d1823;
}

h1 {
    font-size: 400%;
    display: flex;
    justify-content: flex-end;
}

p.urdu {
    font-size: 150%;
    direction: rtl;
}
